body{
	font-family:Arial, sans-serif;
	margin:2px;
	background-color:#436778;
}
.container{
	max-width:400px;
	background:#6f9bb0;
	padding:20px;
	border-radius:8px;
	box-shadow:0 0 10px rgba (0,0,0,0.1);
	margin:auto;
}
label{
	display:block;
	margin-top:10px;
	font-weight:bold;
}
.result{
	margin-top:20px;
	padding:10px;
	background-color:#578296;
	border-radius:8px;
	font-weight: bold;
	white-space:pre-line;
}